<div class="wrapper clearfix">
  <div class="left">

    <div class="name-hero">

      <div class="me-img"></div>

      <div class="name-text">

        <h1>{{firstName}} <em>{{last}}</em></h1>
        <p>{{address}} {{city}}, {{state}} {{zip}}</p>
        <p>{{email}}</p>
        <p>{{phoneNumber}}</p>

      </div>

    </div>

  </div>
  <div class="right">

    <div class="inner">
      <section>
        <h1>Introduction</h1>
        <p>{{summary}}</p>
      </section>
      <section>
        <h1>Employment</h1>
        <p>{{userJobTitleInput}}</p>
        <p><em>{{userEmployerInput}}</em>
          from
          {{userStartDate}}
          to
          {{userEndDate}}</p>
      </section>
      <section>
        <h1>Education</h1>
        <p>{{userDesiredDegreeInput}}</p>
        <p>{{userInstituteInput}}
          in
          {{userCityInstituteInput}}
          -
          <em>{{userDegreeCompleted}}</em></p>
      </section>
      <section>
        <h1>Technical Skills</h1>
        <ul class="skill-set">
          <li>{{userProfessionalSkillsInput}}</li>
        </ul>
      </section>
      <section>
        <h1>Personal Interests and Skills</h1>
        <ul class="skill-set">
          <li>{{userPersonalSkillsInput}}</li>
        </ul>
      </section>
    </div>

  </div>

</div>