<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic|Open+Sans:300,400,500,700|Waiting+for+the+Sunrise|Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="CSS\style.css" />
</head>

    <div class="wrapper clearfix">
    <div class="left">
        
        <div class="name-hero">
        
        <div class="me-img"></div>
        
        <div class="name-text">
            
            <h1> #{firstName} <em>#{last}</em></h1>
            <p>#{address} #{city}, #{state} #{zipCode}</p>
            <p>#{email}</p> 
            <p>#{phoneNumber}</p>
        
        </div>
    
        </div>
        
    </div>
    <div class="right">
        
        <div class="inner">
        //<section>
            <h1>Introduction</h1>
            <p>{{summary}}</p>
        //</section>
        <section>
            <h1>Employment</h1>
            <p>#{jobTitle}</p>
            <p><em>#{employer},</em>#{city}, #{state} from #{startDate} to #{endDate}</p>
        </section>
        <section>
            <h1>Education</h1>
            <p>#{degree}</p>
            <p>#{schoolName} in #{location} - <em>#{graduateData}</em></p>
        </section>
        <section>
            <h1>Technical Skills</h1>
            <ul class="skill-set">
            <li>#{professionalSkills}</li>
            </ul>
        </section>
        <section>
            <h1>Personal Interests and Skills</h1>
            <ul class="skill-set">
            <li>#{personalSkills}</li>
            </ul>
        </section>
        </div>
        
    </div>

</div>

